<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-nord.min.css">
  <link href="https://unpkg.com/uppy/dist/uppy.min.css" rel="stylesheet">
</head>

<body>
  <!--script>
    var uppy = Uppy.Core({
      autoProceed: false
    })
    // uppy.use(Uppy.DragDrop, {target: '#app2'})
    // uppy.use(Uppy.Tus, {endpoint: '//master.tus.io/files/'})
    // uppy.run()
  </script-->

  <div id='app'>
    loading...
  </div>
  <!--script src="https://unpkg.com/uppy"></script-->
</body>

</html>
